* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(96, 148, 194);
}


body {
    display: grid;
    grid-template-columns: 33%, 33%, 33%;
    grid-template-rows: 1rem, 1fr, 1fr;
    grid-template-areas: 
    'h'
    'b' 
    'b';
    width: 100vw;
    height: 100vh;
    grid-auto-flow: column;
    gap: 1em;
}

.header {
    grid-area: 'h';
    text-align: center;
}


.navbar {

    /* display: flex; */
}



.container {
    grid-area: 'b';
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    
  
}

.IU {
    float: right;
}

.clock {
    object-fit: cover;
}
.skychair_ryan {
    object-fit: cover;
}
/* .container > img:hover {
    width: 50%;
    height: 50%;
} */

.downtown {
    object-fit: cover;
}

.backyard {
    object-fit: cover;
}

.oakridge {
    object-fit: cover;
}

.home {
    object-fit: cover;
}
.sunset_shot {

    object-fit: cover;
}

.fire {
    object-fit: cover;
}
/* 
@media screen and (min-width: 640px) {
    .IU {
        float: center;
    }
    
    
    .skychair_ryan {
        float: center;
    }
    /* .container > img:hover {
        width: 50%;
        height: 50%;
    } */
    
    /* .downtown {
        float: center;
    }
    
    
    .home {
        float: center;
    }
} */ 