:root {
    --typewriterSpeed: 6s;
    --typewriterCaracters: 22;
    --typewriterCaractersIphone: 14;
}


* {
    margin: 0px;
    padding: 0px;
    background-color: #eff2f1;
}

a {
    padding: 16px;
}

.dark-mode {
    background-color: #4a7b9d;
    color: white;
}

.fas fa-adjust {
    border:none;
}

button {
    border: none;
    background-color: #eff2f1;
}

h1 {
    margin: auto;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: max-content;
}


h1::before,
h1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

.about::before {
    background:  #eff2f1;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCaracters)) 1s forwards;
}

.about::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCaracters)) 1s forwards, 
    blink 750ms steps(var(--typewriterCaracters)) infinite;
}

.iphone::before {
    background:  #eff2f1;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCaractersIphone)) 1s forwards;
}

.iphone::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCaractersIphone)) 1s forwards, 
    blink 750ms steps(var(--typewriterCaractersIphone)) infinite;
}

@keyframes typewriter {
    to { 
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    display: grid;
    grid-template-columns: 33%, 33%, 33%;
    grid-template-rows: 1rem, 1fr, 1fr;
    grid-template-areas: 
    'h'
    'b' 
    'f';
    width: 100vw;
    height: 100vh;
    grid-auto-flow: column;
    gap: 1em;
}

.header {
    grid-area: 'h';
    text-align: center;
}

.home {
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.home:hover, .home:focus {
    background-color: #2980B9;
}

/* Dropdown Button */
.dropbtn {
    /* background-color: #3498DB; */
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative; /*before was absolute*/
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;

}

.nav {
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease 
   calc(var(--typewriterSpeed) + 2s )forwards;
   list-style-type: none;
}

.homemenu {
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.homemenu:hover, .homemenu:focus {
    background-color: #2980B9;
}

.fas {
    cursor: pointer;
    padding: 16px;
}

.fas:hover, .fas:focus {
    background-color: #2980B9;
}

li {
    float: inherit;
    display:inline;
    padding-right: 10px;
}

a {
    text-decoration: none;
}


li:visited {
    color: pink;
}

.container {
    grid-area: 'b';
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.hover {
    object-fit: cover;
    transition: transform .2s;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 1s forwards;
}
.hover:active {   /*fix this with Javascript*/
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

.homepage {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 
    calc(var(--typewriterSpeed) + 2s )forwards;
}

p {
    grid-area: 'b';
    margin: auto;
    padding: 10px;

}

footer {
    grid-area: 'f';
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    padding: 20px;
}

/* 
@media screen and (min-width: 640px) {
    .IU {
        float: center;
    }
    
    
    .skychair_ryan {
        float: center;
    }
    /* .container > img:hover {
        width: 50%;
        height: 50%;
    } */
    
    /* .downtown {
        float: center;
    }
    
    
    .home {
        float: center;
    }
} */ 